body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    margin:  0;
}

#encabezado{
    background-color: rgb(0, 16, 87);
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 1px;
    top: 0px;
    position:  sticky;

}

#menu-principal {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    margin: 0px;
    background-color: white

}

#menu-principal a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;   
    padding:  6px;
    border-radius: 4px;
    margin: 0px;

}

#contenido{
    
   
    
}

.seccion{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px;
    
}

.espacio-imagen img{
    width: 100%;
    height: 200px; 
    object-fit: cover; /* Ajusta la foto sin distorsionarla */
    border-radius: 15px;
}

.tarjeta{
    height: 500px;
    width: 260px;
    border-radius: 4px;
    padding: 10px;
}

.galeria{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#pie{
    background-color: rgb(1, 1, 61);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Cosas nuevas */

.boton {
  transition-duration: 0.4s;
}

.boton:hover {
  background-color: #1b1b1b;
  color: white;
}

.pop-imagen {
  width: 300px;
  height: auto;
  transition: transform 0.3s ease; 
}

.pop-imagen:hover {
  transform: scale(1.2); 
  position: relative;    
  z-index: 10;           
}

.shake-hard:hover {
  animation: dynamicShake 0.4s 5;
}

@keyframes dynamicShake {

  0%, 100% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(2deg); }
  50% { transform: translate(-2px, -2px) rotate(-2deg); }
  75% { transform: translate(2px, -2px) rotate(-2deg); }
}

.fade-box {
  opacity: 0.1; 
  transition: opacity 0.5s ease-in-out; 
}

.fade-box:hover {
  opacity: 1; 
}

.stretch-hover {
  display: inline-block;       
  transition: transform 0.3s ease; /
  transform-origin: center;    
}

.stretch-hover:hover {
  transform: scaleX(5);     
}
